# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\EDU\chrome-extension-ipl-basic-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
